<nav class="navbar navbar-expand-md navbar-light sticky-top shadow">
    <div class="container">

        <img src="../../../assets/logo.jpg" height="60px" alt="" class="d-inline-block pe-2">
        <a class="navbar-brand" href="#">
            Virtual Desk
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="home" routerLinkActive="active" aria-current="page">Home</a>
                <a class="nav-link" routerLink="registration" routerLinkActive="active">Registration</a>
                <a class="nav-link" routerLink="faculty-login" routerLinkActive="active">Faculty Login</a>
                <a class="nav-link" routerLink="student-login" routerLinkActive="active">Student Login</a>
            </div>
        </div>

    </div>
</nav>
