<div class="container">
    <div class="home-hero d-flex align-items-center">
        <div class="row">
            <div class="col-sm-6 d-flex flex-column justify-content-center order-2 order-sm-1">
                <h1 class="display-3 text-center text-sm-start">All Academic Material</h1>
                <h1 class="display-4 text-center text-sm-start">On your fingertips</h1>
            </div>
            <div class="col-sm-6 order-1 order-sm-2">
                <img class="img-fluid p-4" src="assets/laptop_books.jpg" alt="laptop_and_books">
            </div>
        </div>
    </div>
    <div class="home-hero d-flex align-items-center">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid rounded p-4" src="assets/organized.jpg" alt="laptop_and_books">
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <h1 class="display-3 text-center text-sm-end">Everything is Organized</h1>
                <h1 class="display-4 text-center text-sm-end">For a easy retrieval</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center p-3 footer">
    <p class="fw-bold text-black mb-0">Prototype by Team iFivers</p>
</div>